@import (inline) "../../../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";

/* Variables */

@screen-sm-max: 767px;
@screen-md-max: 992px;
@screen-lg-max: 1200px;

/* Filters */
#events-calendar .calendar-filter-options {
	background-color: #f5f5f5;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;

	& #startDate {
		font-weight: bold;
		text-align: center;
	}
}

@media (max-width: @screen-md-max) {
	#events-calendar .calendar-filter-options .btn-group {
		margin-top: 10px;
	}
}

/* Datepicker */

/* Events Display */
#events-calendar .loading-wrap.masonry-loaded {
	opacity: 1;
}

#events-calendar .loading-view {
	text-align: center;
	font-size: 41px;
	color: #dddddd;
	padding: 25px;
}

#events-calendar .loading-wrap {
	opacity: 0;
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}

#events-calendar .event-title {
	line-height: 1.3;
	color: #555555;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 8px;
}

#events-calendar .event-title a {
	text-decoration: none;
}

#events-calendar .event-title span {
	color: #666666;
}

#events-calendar .media-posterboard {
	background-color: #f5f5f5;
	padding: 12px;
	border: 2px solid #dddddd;
	width: 100%;
	margin-bottom: 30px;
	border-radius: 4px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

@media (max-width: @screen-md-max) {
	#events-calendar .media-posterboard {
		width: 100%;
		float: none;
		margin: 0 0 15px 0;
	}
}

#events-calendar .media-posterboard .date-time-wrap {
	margin: 0 0 15px 15px;
}

#events-calendar .media-posterboard .meta {
	font-size: 14px;
	color: #888888;
	line-height: 1.3;
	font-weight: bold;
}

#events-calendar .media-posterboard .excerpt-read-more {
	display: block;
	margin-top: 6px;
}

#events-calendar .media-posterboard img {
	margin-bottom: 15px;
	display: block;
	padding: 8px;
	background: #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
	border-radius: 3px;
}

#events-calendar .media-posterboard .excerpt {
	margin-bottom: 0;
	font-size: 15px;
	line-height: 1.4;
}

#events-calendar .media-posterboard .cat-meta {
	margin-top: 10px;
}

#events-calendar .date-time-wrap {
	float: right;
	width: 55px;
	position: relative;
}

#events-calendar .date-time-wrap:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border: 2px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	z-index: 40;
}

#events-calendar .media-list {
	border-bottom: 1px solid #eeeeee;
	margin: 0;
	padding: 5px 0;
}

#events-calendar time.icon {
	position: relative;
	display: block;
	background: #ffffff;
}

#events-calendar time.icon.hasSpan span {
	border-bottom: none;
}

#events-calendar time.icon.endSpan {
	z-index: 20;
}

#events-calendar time.icon.endSpan:after,
#events-calendar time.icon.endSpan:before {
	top: 0;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#events-calendar time.icon.endSpan:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 8px 24px 0 24px;
	margin-left: -24px;
}

#events-calendar time.icon.endSpan:before {
	border-color: rgba(238, 238, 238, 0);
	border-top-color: #eeeeee;
	border-width: 10px 28px 0 28px;
	margin-left: -28px;
}

#events-calendar time.icon.endSpan span {
	border-top: none;
	padding-top: 10px;
}

#events-calendar time.icon * {
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

#events-calendar time.icon strong {
	position: absolute;
	top: 0;
	padding: 3px 0;
	color: #ffffff;
	background-color: #db5b48;
	line-height: 1.2;
	text-transform: uppercase;
	font-size: 13px;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}

#events-calendar time.icon em {
	position: absolute;
	bottom: 5px;
	color: #aaaaaa;
	font-size: 12px;
}

#events-calendar time.icon span {
	width: 100%;
	font-size: 28px;
	padding-top: 18px;
	color: #2f2f2f;
	padding-bottom: 15px;
}

#events-calendar time.icon.hasSpanMonth strong {
	padding-top: 9px;
	border-top: none;
	border-radius: 0;
	background: #999999;
}

#events-calendar time.icon.hasSpanMonth span {
	padding-top: 25px;
}

#event-details .form-horizontal .control-label {
	padding-top: 0;
}

#event-details .event-featured-image {
	float: right;
	margin: 0 0 25px 25px;

	padding: 8px;
	background: #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
	border-radius: 3px;
}

#event-details .event-detail-content {
	border-top: 2px solid #f5f5f5;
	padding-top: 25px;
	margin-top: 25px;
}

#event-details .btn-calendar-back {
	float: right;
}

@media (max-width: @screen-md-max) {
	#event-details .btn-calendar-back {
		float: none;
		display: block;
		margin-bottom: 15px;
	}
}

#event-details .btn-calendar-back .glyphicon {
	width: 20px;
}