{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% set subnav = {
dashboard: { label: "Dashboard"|t, url: url('events') },
calendars: { label: "Calendars"|t, url: url('events/calendars') }
} %}

{% set selectedSubnavItem = 'calendars' %}

{% macro urlFormatInput(calendar) %}
	{% from "_includes/forms" import text, errorList %}
	{% set errors = calendar.getErrors('urlFormat') %}

	<div class="input{% if errors %} errors{% endif %}">
		{{ text({
			id: 'urlFormat',
			class: 'code ltr',
			name: 'urlFormat',
			value: calendar.urlFormat,
			errors: errors
		}) }}
	</div>

{% endmacro %}

{% block content %}

	<form method="post"
	      accept-charset="UTF-8"
	      data-saveshortcut="1">
		<input type="hidden"
		       name="action"
		       value="events/calendars/saveCalendar">
		<input type="hidden"
		       name="redirect"
		       value="events/calendars">
		{% if calendar.id %}<input type="hidden"
		                           name="calendarId"
		                           value="{{ calendar.id }}">{% endif %}
		{{ getCsrfInput() }}

		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this calendar will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: calendar.name,
			errors: calendar.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this calendar in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: calendar.handle,
			errors: calendar.getErrors('handle'),
			required: true
		}) }}

		<hr>

		{% set urlFormatParams = {
		label: "Event URL Format"|t,
		instructions: "What the event URLs should look like, will usually be the parent page's path. Currently, the event id is appended to the URL.",
		required: true,
		errors: calendar.getErrors('urlFormat')
		} %}

		{{ forms.field(urlFormatParams, _self.urlFormatInput(calendar)) }}

		{{ forms.textField({
			label: "Event Template"|t,
			instructions: "The template to use when the event’s URL is requested.",
			id: 'template',
			class: 'ltr',
			name: 'template',
			value: calendar.template,
			required: true,
			errors: calendar.getErrors('template')
		}) }}

		<hr>

		{% include "_includes/fieldlayoutdesigner" with {
		fieldLayout: calendar.getFieldLayout()
		} only %}
	</form>
{% endblock %}

{% set js %}
	{% if not calendar.handle %}
		new Craft.HandleGenerator('#name', '#handle')
	{% endif %}
{% endset %}

{% includeJs js %}
