{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% includeCssResource "lib/redactor/redactor.css" %}
{% includeJsResource "lib/redactor/redactor.js" %}

{% includeCssResource "events/dist/css/styles-cp.min.css" %}
{% includeJsResource "events/dist/js/scripts-cp.min.js" %}

{% set subnav = {
dashboard: { label: "Dashboard"|t, url: url('events') },
calendars: { label: "Calendars"|t, url: url('events/calendars') }
} %}

{% set selectedSubnavItem = 'dashboard' %}

{% set calendarHandle = calendar.handle %}

{% macro dateTimeField(event, attribute, label) %}

	{% import "_includes/forms" as forms %}

	{% set input %}
		<div class="datetimewrapper">
			{{ forms.date({
				id:        attribute,
				name:      attribute,
				value:     event.getAttribute(attribute)
			}) }}

			{{ forms.time({
				id:        attribute,
				name:      attribute,
				value:     event.getAttribute(attribute)
			}) }}
		</div>
	{% endset %}


	{{ forms.field({
		id: attribute,
		label: label,
		first: (attribute == 'startDate'),
		required: true,
		errors: event.getErrors(attribute)
	}, input) }}

{% endmacro %}

{% from _self import dateTimeField %}

{% block saveButton %}
	<input type="hidden"
	       name="action"
	       value="events/saveEvent">
	<input type="hidden"
	       name="redirect"
	       value="events">

	<div class="btngroup">
		<input type="button"
		       class="btn formsubmit top-delete-btn"
		       value="{{ 'Delete'|t }}"
		       data-action="events/deleteEvent"
		       data-confirm="{{ 'Are you sure you want to delete this event?'|t }}"
		       data-redirect="events">
	</div>

	<div class="btngroup">
		<input type="submit"
		       class="btn submit"
		       value="{{ 'Save'|t }}">

		<div class="btn submit menubtn"></div>
		<div class="menu">
			<ul>
				<li><a class="formsubmit"
				       data-redirect="{{ continueEditingUrl }}">
						{{ "Save and continue editing"|t }}
						{{ forms.optionShortcutLabel('S') }}
					</a></li>
				<li><a class="formsubmit"
				       data-redirect="events/{{ calendar.handle }}/new">{{ "Save and add another"|t }}</a>
				</li>
				{% if event.id %}
					<li><a class="formsubmit"
					       data-param="eventId"
					       data-value=""
					       data-redirect="{{ continueEditingUrl }}">{{ "Save as a new entry"|t }}</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block main %}
	<input type="hidden"
	       name="action"
	       value="events/saveEvent">
	<input type="hidden"
	       name="redirect"
	       value="events">
	<input type="hidden"
	       name="calendarId"
	       value="{{ calendar.id }}">
	{% if event.id %}<input type="hidden"
	                        name="eventId"
	                        value="{{ event.id }}">{% endif %}
	{% if craft.isLocalized() %}<input type="hidden"
	                                   name="locale"
	                                   value="{{ event.locale }}">{% endif %}

	{{ getCsrfInput() }}

	<div class="grid first">
		<div class="item"
		     data-position="left"
		     data-min-colspan="2"
		     data-max-colspan="3">
			<div id="fields"
			     class="pane">

				{% include "_includes/tabs" %}

				{{ forms.textField({
					label: "Title"|t,
					id: 'title',
					name: 'title',
					value: event.title,
					errors: event.getErrors('title'),
					required: true
				}) }}

				<div>
					<div id="tab0">

						{% set input %}
							{{ forms.elementSelect({
								elements: featuredImage_element,
								id: 'featuredImageId',
								name: 'featuredImageId',
								elementType: featuredImage_elementType,
								criteria: {"kind":[],"localeEnabled":null,"locale":"en_us"},
								sourceElementId: event.getAttribute('featuredImageId'),
								jsClass: 'Craft.AssetSelectInput',
								addButtonLabel: 'Select Image',
								limit: 1,
							}) }}
						{% endset %}

						{{ forms.field({
							id: 'thumbId',
							label: 'Featured Image'|t,
							required: false
						}, input) }}

						{{ forms.textareaField({
							label: "Description"|t,
							id: 'description',
							name: 'description',
							class: 'richTextField',
							value: event.getAttribute('description'),
							errors: event.getErrors('description'),
							required: false,
							rows: 15
						}) }}

						{{ forms.textareaField({
							label: "Excerpt"|t,
							id: 'excerpt',
							name: 'excerpt',
							value: event.getAttribute('excerpt'),
							errors: event.getErrors('excerpt'),
							required: false,
							rows: 5
						}) }}

						<hr>

						{{ forms.textField({
							label: "Venue Name"|t,
							id: 'venueName',
							name: 'venueName',
							value: event.venueName,
							errors: event.getErrors('venueName'),
							required: false
						}) }}

						{{ forms.textField({
							label: "Address"|t,
							id: 'address',
							name: 'address',
							value: event.address,
							errors: event.getErrors('address'),
							required: false
						}) }}

						<hr>

						{{ forms.textField({
							label: "Buy Tickets URL"|t,
							id: 'ticketsUrl',
							name: 'ticketsUrl',
							value: event.ticketsUrl,
							errors: event.getErrors('ticketsUrl'),
							required: false
						}) }}
					</div>
					{% for tab in calendar.getFieldLayout().getTabs() %}
						<div id="tab{{ loop.index }}"{% if loop.first %} class="hidden"{% endif %}>
							{% include "_includes/fields" with {
							fields: tab.getFields(),
							element: event
							} only %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="item"
		     data-position="right">
			{% if event.id %}
				<a target="_blank"
				   href="{{ viewUrl }}"
				   class="btn big livepreviewbtn"
				   tabindex="0">
					View Event
				</a>
			{% endif %}
			<div id="settings"
			     class="pane meta">
				{{ dateTimeField(event, 'startDate', "Start Date"|t) }}
				{{ dateTimeField(event, 'endDate', "End Date"|t) }}
			</div>
		</div>
	</div>
{% endblock %}

{% if not event.slug %}
	{% includeJs "window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');" %}
{% endif %}