{% extends "_layouts/elementindex" %}
{% set title = "Events"|t %}
{% set elementType = 'Events_Event' %}
{% set showStatusMenu = false %}

{% set subnav = {
dashboard: { label: "Dashboard"|t, url: url('events') },
calendars: { label: "Calendars"|t, url: url('events/calendars') }
} %}

{% set selectedSubnavItem = 'dashboard' %}

{% set extraPageHeaderHtml %}
	{% if calendars|length %}
		<div class="buttons">
			{% if calendars|length > 1 %}
				<div class="btn submit menubtn add icon">{{ "New Event"|t }}</div>
				<div class="menu">
					<ul>
						{% for calendar in calendars %}
							<li><a href="{{ url('events/'~calendar.handle~'/new') }}">{{ calendar.name|t }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<a class="btn submit add icon"
				   href="{{ url('events/'~calendars[0].handle~'/new') }}">{{ "New Event"|t }}</a>
			{% endif %}
		</div>
	{% endif %}
{% endset %}

{% block sidebar %}
	{% if calendars|length %}
		{% if sources is not empty %}
			<nav>
				{% include "_elements/sources" %}
			</nav>
		{% endif %}
	{% else %}

	{% endif %}
{% endblock %}

{% block content %}
	{% if calendars|length %}
		<div class="elementindex">
			{% include "_elements/indexcontainer" %}
		</div>
	{% else %}
		<p>To publish an event you need to associate it to a calendar.</p>
		<a href="{{ url('events/calendars/new') }}"
		   class="btn submit">Create your first calendar</a>
	{% endif %}
{% endblock %}