{% import 'public/_macros' as craftMacros %}

<div id="event-details">
	<a class="btn-calendar-back btn btn-default"
	   href="{{ siteUrl }}{{ calendar.urlFormat }}">
		<span class="glyphicon glyphicon-calendar"></span>
		<span>Back to Calendar</span>
	</a>

	<h1 class="h2">{{ event.title }}</h1>

	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">When:</label>

			<div class="col-sm-10">
				{{ craftMacros.eventDateMeta(event) }}
			</div>
		</div>

		{% if event.venueName %}
			<div class="form-group">
				<label class="col-sm-2 control-label">Where:</label>

				<div class="col-sm-10">
					{{ event.venueName }}<br>
					{% if event.address %}
						{{ event.address }}
					{% endif %}
				</div>
			</div>
		{% endif %}

		{% if event.ticketsUrl %}
			<div class="form-group">
				<label class="col-sm-2 control-label">Admission:</label>

				<div class="col-sm-10">
					<a href="{{ event.ticketsUrl }}"
					   class="btn btn-success"
					   target="_blank">Buy Tickets</a>
				</div>
			</div>
		{% endif %}
	</div>

	<div class="event-detail-content">
		{% if event.featuredImageId is not empty %}
			{% set asset = craft.events.getAsset(event.featuredImageId) %}

			{% set thumb = {
			mode: 'fit',
			width: 500,
			height: 500,
			quality: 75
			} %}
			<img src="{{ asset.getUrl(thumb) }}"
			     class="event-featured-image">
		{% endif %}

		{{ event.description|raw }}
	</div>
</div>