{% macro eventDateMeta(event) %}
	{% set startDate = event.startDate|date('M j Y') %}
	{% set endDate = event.endDate|date('M j Y') %}

	{{ event.startDate.format('M j') }} @ {{ event.startDate.format('g:i a') }} –

	{% if startDate != endDate %}
		{{ event.endDate.format('M j') }} @
	{% endif %}

	{{ event.endDate.format('g:i a') }}
{% endmacro %}

{% macro eventExcerpt(event, calendar) %}
	{% if event.description %}
		<p class="excerpt">
			{% if event.excerpt %}
				{{ event.excerpt }}
				<a class="excerpt-read-more"
				   href="{{ siteUrl }}{{ calendar.urlFormat }}/{{ event.id }}">
					Continue Reading <span class="meta-nav">→</span>
				</a>
			{% endif %}
		</p>
	{% endif %}
{% endmacro %}

{% macro eventPermalink(event, calendar) %}
	{{ siteUrl }}{{ calendar.urlFormat }}/{{ event.id }}
{% endmacro %}

{% macro eventTitle(event, calendar) %}
	<div class="event-title">
		<a href="{{ siteUrl }}{{ calendar.urlFormat }}/{{ event.id }}">
			{{ event.title }}
		</a>
		{% if event.venueName %}
			<span>@ {{ event.venueName }}</span>
		{% endif %}
	</div>
{% endmacro %}

{% macro eventDateMetaIcon(event) %}
	{% set startDate = event.startDate|date('M j Y') %}
	{% set endDate = event.endDate|date('M j Y') %}

	{% set startDateMonth = event.startDate|date('M Y') %}
	{% set endDateMonth = event.endDate|date('M Y') %}

	{% if startDate != endDate %}
		{% set hasSpan = true %}
	{% else %}
		{% set hasSpan = false %}
	{% endif %}

	{% if startDateMonth != endDateMonth %}
		{% set hasSpanMonth = true %}
	{% else %}
		{% set hasSpanMonth = false %}
	{% endif %}

	<div class="date-time-wrap">
		<time datetime="{{ event.startDate.format('Y-d-m') }}"
		      class="icon {{ hasSpan ? 'hasSpan' }}">
			<em>{{ event.startDate.format('D') }}</em>
			<strong>{{ event.startDate.format('M') }}</strong>
			<span>{{ event.startDate.format('j') }}</span>
		</time>
		{% if startDate != endDate %}
			<time datetime="{{ event.endDate.format('Y-d-m') }}"
			      class="icon endSpan {{ hasSpanMonth ? 'hasSpanMonth' }}">
				<em>{{ event.endDate.format('D') }}</em>
				{% if hasSpanMonth %}
					<strong>{{ event.endDate.format('M') }}</strong>
				{% endif %}
				<span>{{ event.endDate.format('j') }}</span>
			</time>
		{% endif %}
	</div>
{% endmacro %}