{% import 'public/_macros' as craftMacros %}

{# Get request params and set defaults #}

{% set customDateParam = craft.request.getParam('date') %}
{% set display = craft.request.getParam('display') %}
{% set categoryID = craft.request.getParam('cat') %}
{% set category = craft.categories.id(categoryID) %}

{% if customDateParam is defined %}
	{% set dateParam = customDateParam %}
{% else %}
	{% set dateParam = now %}
{% endif %}

{% if display is not null %}
	{% set display = display %}
{% else %}
	{% set display = 'grid' %}
{% endif %}

{% set firstDayOfMonth = dateParam|date('Y') ~ "-" ~ dateParam|date('m') ~ "-01" %}
{% set daysInThisMonth = firstDayOfMonth|date('t') %}

{# For events that are on the last day of the month, we need to add an extra day to query #}
{% set lastDayOfMonth = dateParam|date('Y') ~ "-" ~ dateParam|date('m') ~ "-" ~ (daysInThisMonth + 1) %}

{% set events = craft.events.getEvents({
	'calendarId': calendar.id,
	'startDate': [
		'and',
		'>= ' ~ firstDayOfMonth,
		'<= ' ~ lastDayOfMonth
	],
	'order': 'startDate ASC'
}) %}

<div id="events-calendar">
	<div class="calendar-filter-options">
		<div class="row">
			<div class="col-md-4">
				<div id="date-filter">
					<div class="input-group date">
                        <span class="input-group-btn">
                            <button id="prevMonth"
                                    class="btn btn-default"
                                    type="button">
	                            <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>
                        </span>
						<input value="{{ dateParam|date('F Y') }}"
						       id="startDate"
						       type="text"
						       name="startDate"
						       class="form-control" />
                        <span class="input-group-btn">
                            <button id="nextMonth"
                                    class="btn btn-default"
                                    type="button">
	                            <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-5">
				<div class="btn-group btn-group-justified"
				     role="group">
					<div class="btn-group"
					     role="group">
						<button rel="grid"
						        type="button"
						        class="{{ display == 'grid' ? 'active' }} btn btn-default">
							<span class="glyphicon glyphicon-th-large"></span>
						</button>
					</div>
					<div class="btn-group"
					     role="group">
						<button rel="list"
						        type="button"
						        class="{{ display == 'list' ? 'active' }} btn btn-default">
							<span class="glyphicon glyphicon-th-list"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if not events|length %}
		<div class="alert alert-info text-center"
		     role="alert">
			There are currently no events scheduled for this month.
		</div>
	{% else %}
		{% if display == 'grid' %}
			<div class="loading-view">
				<i class="fa fa-refresh fa-spin"></i>
			</div>

			<div class="loading-wrap">
				<div class="row posterboard">
					{% for event in events %}
						<article class="col-xs-12 col-sm-6 col-md-4">
							<div class="media media-posterboard">
								{{ craftMacros.eventDateMetaIcon(event) }}

								{{ craftMacros.eventTitle(event, calendar) }}

								<p class="meta">
									{{ craftMacros.eventDateMeta(event) }}
								</p>

								{% if event.featuredImageId is not empty %}
									{% set asset = craft.events.getAsset(event.featuredImageId) %}

									{% set thumb = {
									mode: 'fit',
									width: 350,
									height: 350,
									quality: 75
									} %}
									<img src="{{ asset.getUrl(thumb) }}"
									     class="thumb">
								{% endif %}

								{{ craftMacros.eventExcerpt(event, calendar) }}
							</div>
						</article>
					{% endfor %}
				</div>
			</div>
		{% else %}
			{% for event in events %}
				<article class="media media-list">

					{{ craftMacros.eventTitle(event, calendar) }}

					<p class="meta">
						{{ craftMacros.eventDateMeta(event) }}
					</p>

					{{ craftMacros.eventExcerpt(event, calendar) }}

				</article>
			{% endfor %}
		{% endif %}
	{% endif %}
</div>